KDE
Kvantum
YouTube Music
ZapZap
activitywatch
dconf
dunst
gtk*
kanshi
kde.org
kitty
mpv
nautilus
nwg-look
obs-studio
procps
pulse
qt5ct
qt6ct
session
systemd
uwsm
xsettingsd
QtProject.conf
baloofileinformationrc
config
dolphinrc
filetypesrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale

