KDE
Kvantum
YouTube Music
ZapZap
activitywatch
dconf
dunst
kde.org
kitty
mpv
nautilus
nwg-look
obs-studio
procps
pulse
qt5ct
qt6ct
session
systemd
uwsm
xsettingsd
QtProject.conf
baloofileinformationrc
dolphinrc
filetypesrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale
obsidian
Code - OSS
wpg
Notion
Postman
Vial/
gtk-3.0
qtvirtualkeyboard
Code
kdeglobals

